section.aboutme {
    color: black;
    display: grid;
    grid-template-areas: 'left topmiddle right' 'left middle right' 'left middle right' 'left middle right';
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 50px 200px 200px 1fr;
}

section.aboutme img {
    height: 150px;
    width: 100px;
    border: 2px solid rgb(75, 5, 75);
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.middle {
    grid-area:middle;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold;
}

div.middle p {
    font-family: 'Montserrat', sans-serif;
}


h1#aboutme {
    margin-top: 50px;
    grid-area: title;
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Gabriela', serif;
}

@media only screen and (max-width: 600px) {
    h1#aboutme {
        margin-top: 175px;
    }
}

@media only screen and (max-width: 450px) {
    h1#aboutme {
        margin-top: 300px;
    }
}

