* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    background-color:  #b6e3ff;
    --secondary-color: #422C73;
  }


section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
} 

section h1 {
    font-size: 40px;
    opacity: 0;
    font-family: 'Gabriela', serif;
}

section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}


@keyframes fadeIn {
    100% { opacity:1 }
}