section.main {
    display: grid;
    grid-template-areas: "title" "card"
}

section.main h2 {
    grid-area: title;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 40px;
    color: #7a6255;
    font-family: 'Gabriela', serif;
    
}
 
section.main div.card {
    grid-area: card;
}